html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 2rem 1rem;
  transition: all .07s ease-out;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}

.key span {
  font-weight: 400;
}

.playing {
  transform: scale(1.1);
  border-color: #e9b700;
  box-shadow: 0 0 1rem #FF9B00;
}

kbd {
  display: block;
  font-size: 5rem;
  font-weight: 900;
}


.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #FF9B00;
}